---
version: "3.9"
services:
  mainnetwork:
    image: alpine:3.14.0
    command: ["tail", "-f", "/dev/null"]
  db:
    image: postgres:12-alpine
    volumes:
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - pg-data:/var/lib/postgresql/data
      - ./db/script:/script:ro
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
  backend:
    image: python:3.8.5
    working_dir: /app
    command: ["./dev.sh"]
    volumes:
      - ./backend:/app:delegated
    environment:
      - DATABASE_URL=postgresql://wai:password@db:5432/${INSTANCE_NAME}
      - INSTANCE_NAME=$INSTANCE_NAME
    depends_on:
      - db
    network_mode: service:mainnetwork
  worker:
    image: python:3.8.5
    working_dir: /app
    command: ["./worker.sh"]
    volumes:
      - ./backend:/app:delegated
    environment:
      - DATABASE_URL=postgresql://wai:password@db:5432/${INSTANCE_NAME}
      - INSTANCE_NAME=$INSTANCE_NAME
    depends_on:
      - db
      - backend
    network_mode: service:mainnetwork
  frontend:
    image: akvo/akvo-node-18-alpine:20220923.084347.0558ee6
    working_dir: /app
    command: ["./start.sh"]
    volumes:
      - ./frontend:/app:delegated
    network_mode: service:mainnetwork
volumes:
  pg-data:
