.main-container {
  h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .filter-wrapper {
    background: #ededed;

    .filter-select {
      width: 200px;
    }

    .filter-select,
    .remove-filter-button {
      z-index: 1;
    }

    .advance-search-container {
      margin-top: 24px;
    }
  }

  .data-container {
    min-height: 585px;

    .map-wrapper {
      background: #fff;
      max-height: 600px;
      overflow: hidden;

      .container {
        margin: 0px;
        padding: 0px;
      }

      .map-loading {
        z-index: 1;

        .ant-spin-spinning {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: auto;
        }
      }
    }

    .table-wrapper {
      min-height: 585px;
      background: #7070701a;

      .chart-loading {
        .ant-spin-spinning {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: auto;
        }
      }

      .chart-container {
        height: 468px;
        max-height: 468px;
        margin: 24px 40px;
        padding: 0px !important;
        display: block !important;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #fff;
        border: 3px solid #ededed;

        .data-info {
          border-top: 1px solid #eee;
          border-bottom: 3px solid #0288d1;
          padding: 10px;

          .info.title {
            color: #0288d1 !important;
            font-size: 14px;
          }
        }

        .jmp-chart {
          padding: 20px;
        }
      }

      .main-table-container {
        border: 3px solid #ededed;
      }

      .data-info {
        .info {
          font-size: 12px;

          &.title {
            color: #00989f !important;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }

      .ant-table.ant-table-small {
        font-size: 12px;
      }

      .ant-table-filter-trigger {
        .anticon {
          color: #fff;
        }
      }

      tr.ant-table-row.edited {
        background-color: #fefebe;
      }

      tr.ant-table-row.edited {
        &:hover {
          td {
            background-color: #ffeb3b;
          }
        }
      }

      .ant-table-thead {
        th {
          font-size: 14px;
        }
      }
    }

    .ant-table-thead > tr > th {
      background: #fff !important;
      border-color: #fafafa;
      border-bottom: 3px solid #0288d1;
      color: #0288d1;
      font-weight: bold;
      padding: 10px;

      &:first-child {
        padding-left: 20px;
      }

      &.ant-table-cell-scrollbar {
        box-shadow: none;
      }
    }

    tr.ant-table-row.edited {
      background-color: #fefebe;
    }

    tr.ant-table-row.edited {
      &:hover {
        td {
          background-color: #ffeb3b;
        }
      }
    }
  }

  .collapse-wrapper,
  .visual-card-wrapper {
    background: #45add90f 0% 0% no-repeat padding-box;

    .container {
      .ant-collapse {
        margin-bottom: 18px;
      }

      .ant-collapse-header,
      .ant-card-head {
        color: #00989f !important;
        font-weight: bold;
        font-size: 18px;
      }

      .ant-collapse-borderless {
        .ant-collapse-item {
          border-bottom: none !important;
          background-color: #e3edec;
          border-radius: 5px;
        }
      }
    }
  }

  .leaflet-container {
    height: 585px;
    width: 100%;
    z-index: 0;
  }

  .map-buttons {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1;
  }

  .legends-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 12px 20px 24px;
    border-top: solid #ddd 2px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;

    h4 {
      font-weight: 600;
      text-align: center;
    }

    .legends {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .legend {
        flex: 1 1 0;
        width: 0;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        padding: 5px 10px;
        color: #226799;
        font-size: 12px;
        border-right: solid 2px #daeaf1;
        line-height: 10px;
      }

      .legend.legend-selected {
        border: solid #036799 2px;
        border-right: solid 2px #036799;
        padding: 3px 8px;
        color: #fff;
      }
    }
  }

  .marker-legends {
    z-index: 1;
    position: absolute;
    top: 24px;
    left: 24px;
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;

    h4 {
      font-weight: 600;
    }

    .marker-item {
      cursor: pointer;
    }

    .marker-name {
      font-size: 12px;
    }

    .marker-icon {
      height: 14px;
      width: 14px;
      border-radius: 50%;
      display: block;
    }

    .marker-item-selected {
      font-weight: 600;
    }
  }

  .chart-container {
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
