.home-container {
  h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .jumbotron-wrapper {
    margin-bottom: 24px;

    .jumbotron-text {
      font-size: 37px;
      font-weight: bold;
      color: #00989f;
      text-shadow: 1px 1px 0px #45add9;
    }

    .map-wrapper {
      height: 100%;
      background: rgba(69, 173, 217, 0.15) 0% 0% no-repeat padding-box;
      border: 1px solid rgba(69, 173, 217, 0.15);
      border-radius: 20px 0px 0px 20px;
    }
  }

  .dataset-container {
    margin-bottom: 24px;
    background: #4194c6 0% 0% no-repeat padding-box;

    h1 {
      color: #fff;
    }

    .dataset-col {
      text-align: center;

      .dataset-item {
        min-height: 325px;
        background: #fcfcfc 0% 0% no-repeat padding-box;
        border-radius: 8px;

        h2 {
          font-weight: 600;
        }

        .button-wrapper {
          position: absolute;
          bottom: 24px;
          transform: translateX(50%);

          .read-more {
            margin-bottom: 24px;
          }

          .read-more,
          .explore {
            color: #45add9;
          }
        }
      }
    }
  }

  .overview-container {
    .container {
      padding-bottom: 0;
    }

    h1 {
      color: #00989f;
    }

    .overview-content-wrapper {
      padding: 24px 40px;
      background: rgba(2, 136, 209, 0.06);
    }
  }
}
