.App {
  .container {
    padding: 24px 40px;
  }

  .ant-layout {
    background-color: #fff;

    .ant-layout-header {
      background-color: #fafafa;

      .header-menu {
        text-align: right;

        .menu-outlined {
          color: #45add9;
        }
      }
    }

    .ant-layout-content {
      // padding: 20px 40px;
      min-height: 70vh;

      .ant-result {
        padding: 25vh 24px;
      }
    }

    .ant-layout-footer {
      background-color: #45add9;
      color: #fff;
      font-size: 14px;
      padding: 20px 0px 0px 0px;

      .footer-start,
      .footer-end {
        padding: 0 40px;
      }

      h2 {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .footer-end {
        margin-top: 20px;
        background-color: #0288d1b7;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;

        a {
          color: #fff;
          text-decoration: none;
        }

        .start {
          a {
            margin-right: 10px;
          }
        }

        .middle {
          text-align: center;
        }

        .end {
          text-align: right;

          a {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.menu-drawer-container {
  .ant-drawer-body {
    padding: 0;
  }

  .ant-drawer-close {
    color: #45add9;
  }

  .ant-menu-sub.ant-menu-inline {
    background: #fff;
    color: #45add9;
  }

  .ant-menu-submenu-arrow {
    visibility: hidden;
  }

  .auth-button-wrapper {
    padding: 24px;
    background: rgba(69, 173, 217, 0.15);

    .ant-btn {
      color: #45add9;
      border: none;
    }

    .anticon {
      border: 1px solid #45add9;
      border-radius: 50%;
      padding: 0.5px;
    }
  }

  .ant-drawer-body {
    .ant-menu.ant-menu-root {
      .ant-menu-item {
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0px;
        padding-bottom: 5px;
      }
    }

    .ant-menu-submenu-title {
      border-bottom: 1px solid #f0f0f0;
    }

    .ant-menu.ant-menu-sub {
      border-bottom: 1px solid #f0f0f0;

      .ant-menu-item {
        border-bottom: none;
      }
    }
  }
}

.header-logo {
  a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: #000000;
    }
  }
}

.webform {
  .blue-header {
    background-color: #0288d133;
    height: 300px;
    width: 100%;
    position: absolute;
  }

  h1 {
    font-weight: bold;
    padding: 50px 0px;
    color: #0288d1;
  }

  .form-container {
    padding-bottom: 50px;
  }
}
