.water-container {
  h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .filter-wrapper {
    background: #70707026;

    .filter-select {
      width: 200px;
    }

    .filter-select,
    .remove-filter-button {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #70707080;
      border-radius: 4px;
    }
  }

  .data-container {
    min-height: 585px;
    background: #7070701a;

    .map-wrapper {
      background: #fff;

      .map-search {
        margin-bottom: 24px;
      }
    }

    .table-wrapper {
      min-height: 585px;
    }
  }

  .carousel-wrapper {
    background: #45add90f 0% 0% no-repeat padding-box;

    h1 {
      color: #00989f;
    }

    .carousel-item-wrapper {
      min-height: 405px;

      .carousel-item-card {
        min-height: 300px;
        border-radius: 8px;
      }
    }

    .ant-carousel .slick-dots-bottom {
      bottom: -10px;
    }

    .ant-carousel .slick-dots li {
      height: 12px;
      width: 12px;
    }

    .ant-carousel .slick-dots li button {
      display: block;
      height: 12px;
      width: 12px;
      background: #0288d1;
      border: 2px solid #0288d1;
      border-radius: 50%;
      opacity: 1;
      transition: all 0.5s;
    }

    .ant-carousel .slick-dots li.slick-active {
      width: 12px;
    }

    .ant-carousel .slick-dots li.slick-active button {
      background: transparent;
      opacity: 1;
    }
  }
}
